*{
    font-family: sans-serif;
    font-size: 13px;
}
header {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #313844/*#393539#99b3ff*/;
    box-shadow: 0px 3px 9px grey;
}
header div{
    float: left;
    height: auto;
}
header div a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    color: white;
}
header div a:hover, .dropdown-exit:hover{
    color: black;
    background-color: /*#e6ecff*/white;
}

#right{
    position: absolute;
    right: 0px;
}

#main_letter{
    color: rgb(255, 174, 0);
}
.action-button{
    background-color: rgb(219, 151, 3);
    color: white;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 9px;
}
.action-button:hover, .reg-button:hover{
    background-color: rgb(255, 174, 0);
}
/*Конец*/


/*Список в меню*/
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #313844;
    color:white;
    width: 150px;
    height: 115px;;
}

.dropdown-menu a {
    display: block;
}

.dropdown-exit{
    color:white;
    position: absolute;
    width: 150px;
    background-color: #313844;
    height: 33%;
    border: 0;
}

.dropdown:hover .dropdown-menu {display: block;}
/*Конец*/


/*Стили для Footer*/
footer{
    width: 100%;
    background-color: #7087a4;
}
footer div{
    height: 40px;
    text-align: center;
    font-size: 120%;
    color: white;
}
/*Конец*/


/*Стили для " signup"*/
#registration{
    background-color: /*rgb(204, 217, 255)*/ white;
    width: 50%;
    height: auto;
    margin: 9% auto 30%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px grey;
    text-align: center;
}.reg-input{
    font-size: 13px;
    border: 1px solid grey;
    border-radius: 2px;
    display: block;
    margin: 4px auto ;
    padding: 5px;
    width: 80%;
    height: 25px;
}
#registration input:focus{
    box-shadow: 0px 0px 7px #495466 
}
.reg-button{
    width: 85%;
    background-color: rgb(219, 151, 3);
    color: white;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
}
#reg-name{
    font-size: 200%;
    margin: 10px 0px;
    display: block;
    padding: 18% 0 20%;
    color: white;
}
.reg-left{
    background: #7087a4;/*url(../Images/Background.jpg) no-repeat*/; 
}
.reg-table{
    width: 100%;
    margin: auto;
}

/*Конец*/

/*Стили для "login"*/
.log-name{
    font-size: 200%;
    margin: 0px 0px;
    text-align: center;
    padding: 0 0 0;
    color: white;
}
.log-block{
    background: #7087a4; 
    margin: 8% auto 15%; 
    width: 35%; 
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.log-button{
    width: 40%; 
}

/*Стили для страницы "detailsAd"*/
.left{
    width: 70%;
    display: inline-block;
    border: 1px solid black;
}
/*Конец*/


/*Стили для страницы "index.php"*/
.content-block{
     border: 1px solid grey;
     box-shadow: 0px 0px 4px grey;
     border-radius: 3%;
     width: 20%;
    background-color: #ffffff;
}
.content-block:hover{
    box-shadow: 0px 0px 8px grey;
}
.content-table{
    border-spacing: 11px 21px;
    text-align: center; 
    width: 100%;
}
.img-back{
    background-color: #e0e9f2;
margin: 7px;
}
/*Конец*/




/*Стили для страницы "createAd.php"*/
.createForm{
    margin: 15px 20px 15px 30px;
  }
  .createField{
    background: white;
    margin: 5% 15% 2%;
    width: 70%;
    box-shadow: 0px 0px 10px grey;
    border: none;
    border-radius: 5px;
}
  .img-thumbnail {
    height: 100px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

  .createForm-name{
    font-size: 16px;
    font-weight: 700;
  }
  .section{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 40px 10px 10px;
    text-align: right;
  }

  .signRequired{
      color: red;
  }
  
.input{
    border-radius: 5px;
    box-shadow: none;
}

.radios-as-buttons div {
    float: left;
}
.radios-as-buttons input {
    position: absolute;
    left: -9999px;

}
.radios-as-buttons label {
    display: block;
    margin: 0 0 0 -1px;
    padding: 5px 10px;
    border: 1px solid #7087a4;
    background-color: white;
    color: #313844;
    cursor: pointer;
}
.radios-as-buttons input:checked + label {
    background-color: #7087a4;
    color: white;
}
.radios-as-buttons div:first-child label {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radios-as-buttons div:last-child label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
  /*
  table, td, tr{
      border: solid 1px grey;
  }

  
/*Конец*/


body{
    background: #e0e9f2 /*url("../Images/Background.jpg") no-repeat fixed center*/;
    margin: 0%;
}
